* {
  margin: 0;
  padding: 0;
}

body {
  background: gray;
  font-family: "Poppins", sans-serif;
}

/* BOx One  */
#boxOne {
  background: white;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 50px auto;
  border-radius: 15px;
}

#rea {
  outline: none;
  border: 2px solid #7041d3;
  border-radius: 50px;
  color: white;
  background: #7041d3;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.ewewe {
  padding-top: 120px;
  font-weight: 800;
  font-size: 38px;
}
/* BOx One  */

/* BOx Two  */
#boxTne {
  background: white;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 50px auto;
  border-radius: 15px;
}

.tEwewe {
  padding-top: 50px;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
}

#inPPP {
  outline: none;
  padding: 15px 30px;
  width: 400px;
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  font-size: 28px;
  font-weight: 700;
}

#inPPP::placeholder {
  color: #d9d9d9;
}

#tRea {
  outline: none;
  border: 2px solid #7041d3;
  border-radius: 50px;
  color: white;
  background: #7041d3;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#erow {
  font-weight: 700;
  font-size: 24px;
  background: red;
  margin: 0 auto;
  width: 330px;
  height: 50px;
  padding-top: 15px;
  border-radius: 50px;
  margin-top: 20px;
  color: white;
}
/* BOx Two  */

/* BOx Three  */
#boxTrre {
  background: white;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 50px auto;
  border-radius: 15px;
}

#tUwewe {
  padding-top: 50px;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
}

#inOPP {
  outline: none;
  padding: 15px 30px;
  width: 400px;
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  font-size: 28px;
  font-weight: 700;
}

#inOPP::placeholder {
  color: #d9d9d9;
}

#tOea {
  outline: none;
  border: 2px solid #7041d3;
  border-radius: 50px;
  color: white;
  background: #7041d3;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#erEw {
  font-weight: 700;
  font-size: 24px;
  background: red;
  margin: 0 auto;
  width: 370px;
  height: 50px;
  padding-top: 15px;
  border-radius: 50px;
  margin-top: 20px;
  color: white;
}
/* BOx Three  */

/* BOx Four  */
#boxFne {
  background: white;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 50px auto;
  border-radius: 15px;
}

.tEwewe {
  padding-top: 50px;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
}

#inFPP {
  outline: none;
  padding: 15px 30px;
  width: 400px;
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  font-size: 28px;
  font-weight: 700;
}

#inFPP::placeholder {
  color: #d9d9d9;
}

#tFea {
  outline: none;
  border: 2px solid #7041d3;
  border-radius: 50px;
  color: white;
  background: #7041d3;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#eFow {
  font-weight: 700;
  font-size: 24px;
  background: red;
  margin: 0 auto;
  width: 330px;
  height: 50px;
  padding-top: 15px;
  border-radius: 50px;
  margin-top: 20px;
  color: white;
}
/* BOx Four  */

/* BOx Five  */
#boxVrre {
  background: white;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 50px auto;
  border-radius: 15px;
}

#tVwewe {
  padding-top: 50px;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
}

#inVPP {
  outline: none;
  padding: 15px 30px;
  width: 400px;
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  font-size: 28px;
  font-weight: 700;
}

#inVPP::placeholder {
  color: #d9d9d9;
}

#tVea {
  outline: none;
  border: 2px solid #7041d3;
  border-radius: 50px;
  color: white;
  background: #7041d3;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#eVow {
  font-weight: 700;
  font-size: 24px;
  background: red;
  margin: 0 auto;
  width: 350px;
  height: 50px;
  padding-top: 15px;
  border-radius: 50px;
  margin-top: 20px;
  color: white;
}
/* BOx Five  */

/* BOx Six  */
#boxSne {
  background: white;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 50px auto;
  border-radius: 15px;
}

#eSewe {
  padding-top: 120px;
  font-weight: 800;
  font-size: 38px;
}

#rSa {
  outline: none;
  border: none;
  border-radius: 50px;
  color: white;
  background: #7041d3;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* BOx Six  */
